h1 {
  text-align: center;
  margin: 25px
}

#text_area {
    display: block;
    margin: 0 auto;
}
textarea::placeholder {
  font-size: 20px;     
  color: rgb(170, 110, 163);             
  text-align: center;     
  font-style: italic;     
}
input[type="submit"] {
  position:relative;
  left:1200px;
  font-size:25px;
  color:white;
  background-color: rgb(150, 150, 255);
  border-radius: 10px;
  border-color: black;
}
