h1 {
  text-align: center;
  margin: 25px
}

#text_area {
    display: block;
    margin: 0 auto;
}
textarea::placeholder {
  font-size: 20px;     
  color: rgb(170, 110, 163);             
  text-align: center;     
  font-style: italic;     
}