h1 {
  text-align: center;
  margin: 25px
}
.radio_group {
  font-size: 22px;
  text-align:center;
  margin:20px auto;
}
#text_area {
    display: block;
    margin: 0 auto;
}
textarea::placeholder {
  font-size: 20px;     
  color: rgb(170, 110, 163);             
  text-align: center;     
  font-style: italic;     
}
input[type="submit"] {
  display:block;
  margin:20px auto;
  font-size:25px;
  color:aliceblue;
  background-color:black;
}
.standard {
  text-align:center;
}
.output_text {
  text-align:center;
}

.output{
  background-color: rgb(182, 182, 182);
  text-align: center;
}