@import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven-extended');

:root {
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-shake: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

body {
  background-color:#A2D2FF;
  /* background-image:url(image/main.png);
  background-repeat:no-repeat;
  background-size:cover; */
}
 /*
 1) Adding bg with TV
 2) Adding TV sound for Error rendering 
 3) Adding error for changing banner name from inspecting tab
 */

 h1 {
  font-size:60px;
  color:#ca70ff;
  font-family: 'PF Tempesta Seven Extended', sans-serif;
  text-shadow:
  0 0 5px rgb(255, 137, 249),
  0 0 10px white,
  0 0 20px white,
  0 0 30px #FF00FF;
  text-align: center;
  margin: 25px
}

 .TV_container {
  max-width: 1024px;
  margin: auto;
}

.monitor {
	background: #ffafcc; 
	position: relative;
	border-top: 3px solid #131313; 
	margin: 5%;
	padding: 2% 2% 4% 2%; 
	border-radius: 10px; 
	border-bottom-left-radius: 50% 2%; 
	border-bottom-right-radius: 50% 2%; 
	transition: margin-right 1s;
}

.monitor:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 3%;
	left: 36%;
	height: .5%; 
	width: 28%;
	background: #ddd; 
	border-radius: 50%; 
	box-shadow: 0 0 3px 0 white; 
}

.monitorscreen {
	position: relative;
  background-color: #131313;
	background-size: cover; 
	background-position: top center;
	height: 0; 
	padding-bottom: 56.25%; 
	position: relative;
	overflow: hidden;
}

.input_container {
  display:flex;
  justify-content: center;
}

.radio_group {
  font-family: 'PF Tempesta Seven Extended', sans-serif;
  display:flex;
  justify-content:flex-end;
  margin-top:1.5em;
  font-size:1em;
}

.labels {
  margin-right:0.7em;
}

.button_container {
  display:flex;
  justify-content:flex-end;
  margin-top:1.5em;
}

pre {
  color: #007200;
}
.output{
  height:495px;
  overflow-x: auto;
  overflow-y: auto;
  max-width: auto;
  margin:auto;
  text-align:center;
}

.generate_button {
  font-size: 1.3em;
  font-family: 'PF Tempesta Seven Extended', sans-serif;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background:#335489;
  color:  #e9ff70;
  border:  #e9ff70 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em #e9ff70, 0 0 0.45em #e9ff70;

  box-shadow: inset 0 0 0.3em 0  #e9ff70, 0 0 0.3em 0 #e9ff70;

  position: relative;
}
  .generate_button::before {
    content:"";
    position:absolute;
    background:#e9ff70;
    top:120%;
    left:0;
    width:100%;
    height:100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity:1;
  }
  .generate_button:hover {
    background-color:#e9ff70;
    color:#335489;
    border: #335489 0.125em solid;

  }
