/* body {
  background-image:url(image/Cyber\ Y2K\ Wallpaper\ Monochrome.jpg);
  background-repeat:no-repeat;
  background-size:cover;
} */
 /*
 1) Adding bg with TV
 2) Adding TV sound for Error rendering 
 3) Adding error for changing banner name from inspecting tab
 */
.radio_group {
  display:flex;
  width:300px;
  height:300px;
  justify-content:center;
  background-color:rgba(73, 216, 230, 0.5);
}
h1 {
  color:aliceblue;
  text-align: center;
  margin: 25px
}
.radio_group {
  color:aliceblue;
  font-size: 22px;
  text-align:center;
  margin:20px auto;
}
#text_area {
    display: block;
    margin: 0 auto;
    opacity: 0.7;
}
textarea::placeholder {
  font-size: 20px;     
  color: rgb(170, 110, 163);             
  text-align: center;     
  font-style: italic;     
}
input[type="submit"] {
  display:block;
  margin:20px auto;
  font-size:25px;
  color:aliceblue;
  background-color:black;
}
.standard {
  text-align:center;
}
.output_text {
  text-align:center;
}
.output{
  background-color: rgb(211, 201, 201);
  overflow-x: auto;
  overflow-y: auto;
  height: 400px;
  max-width: auto;
  margin:auto;
  text-align:center;
  opacity: 0.5;
}
