h1 {
  text-align: center;
  margin: 25px
}

#text_area {
    display: block;
    margin: 0 auto;
}
textarea::placeholder {
  font-size: 20px;     
  color: rgb(170, 110, 163);             
  text-align: center;     
  font-style: italic;     
}
input[type="submit"] {
  display:block;
  margin:20px auto;
  font-size:25px;
  color:rgb(11, 11, 11);
  background-color: rgb(150, 150, 255);
  border-radius: 10px;
  border-color: black;
}
.standard {
  text-align:center;
}
.output_text {
  text-align:center;
}

.output{
  background-color: rgb(182, 182, 182);
  text-align: center;
}