<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art-Web</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.cdnfonts.com/css/pf-tempesta-seven-extended" rel="stylesheet">
</head>
<body>
    <h1 class="neon">Ascii-art-web</h1>
    <div class="main_container0">
    <div class="main_container">
    <form method="post" action="/ascii-art">
        <div class="text_area"><textarea id="text_area" name="text"  rows="10" cols="70" placeholder="Enter something" required>{{.Input}}</textarea></div>
        <div class="radio_group">
        <input type="radio" name="type" value="standard"
        {{if eq .Banner "standard"}} checked {{end}} checked>
        <label >Standard</label>
        <input type="radio" name="type" value="shadow"
        {{if eq .Banner "shadow"}} checked {{end}}>  
        <label>Shadow</label>
        <input type="radio" name="type" value="thinkertoy"
        {{if eq .Banner "thinkertoy"}} checked {{end}}>
        <label>Thinkertoy</label>
        </div>
        <div class="button_container"><button type="submit" class="generate_button">Generate</button></div>
    </form>
    </div>
    </div>

    {{if .Full}}
    <div id="output_div">
        <h2 class="output_text">Your output is:</h2>
        <pre class="output">{{.Output}}</pre>
    </div>
    {{end}}

</body>
</html>

