<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art-Web</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Ascii-art-web</h1>
    <form method="post" action="/print">
        <div class="radio_group">
        <!-- Adding checked with condtions to left choosen banner! -->
        <input type="radio" name="type" value="standard" checked>
        <label >Standard</label>
        <input type="radio" name="type" value="shadow">
        <label>Shadow</label>
        <input type="radio" name="type" value="thinkertoy">
        <label>Thinkertoy</label>
        </div>
        <textarea id="text_area" name="text" rows="5" cols="50" placeholder="Enter something">{{.Input}}</textarea><br>
        <input type="submit" value="generate">
    </form>

    {{if .Full}}
    <div class="ascii_printer">
        <h2 class="output_text">Your output is:</h2>
        <pre class="output">{{.Output}}</pre>
    </div>
    {{end}}

</body>
</html>

